*{
    background-color: #399C80 ;
}
body{
    background-attachment: fixed;
    background-position:center;
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    font-size: 2cm;
    font-family:'Times New Roman', Times, serif;
    margin: 0%;
    padding-top: 20px;
    color:white;
}
.Texto{
    color: rgb(0, 4, 61);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size:0.75cm;
    display: block;
    margin: 0%;
    font-weight: normal;
}
.negrita{
    font-weight: bold;
    display: inline-flex; 
    margin: 0%;
    padding-right: 2px;
    padding-left: 2px; 
    font-family: "arial", serif;
}
.subrayado{
    text-decoration: underline;
    display: inline-flex;
    padding-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 5px;
    font-family: "arial", serif;
}
.normal{
    display: inline-flex;
    margin: 0%;
    font-family: "arial", serif;
}
th{
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    font-family: "arial", serif;

}
/*TABLAS*/
.tabla *{
    background-color: #BDDCD5 ;
    font-family: "arial", serif;
}
.der{
    text-align: right;
    padding-right: 1em;
}
/*Tabla contorno de la factura*/
.tabla{
    width: 50%;
    background-color: #BDDCD5 ;
    margin-top: 2em;
    padding: 1em;
}
/*Tablada datos de la factura*/
.tabla2{
    width: 100%;
    font-size: 100%;
    border-collapse: collapse;
    margin-top: 1em;   
}
.bordes{
    text-align: center;
    font-family: "arial", serif;
}
.bordes, tbody,.color, .tabla2{
    border: 1px solid;
    border-color: #004234 ;
}
.tabla2 .color th{
    background-color: #004234 ;
    color:#cce6e0 ;
}


