*{
    background-color: #399C80 ;
}
body{
    background-attachment: fixed;
    background-position:center;
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    font-size: 50;
    font-family: 'Times New Roman', Times, serif;
}
.Texto{
    color: blue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size:large;
    display: block;
}
.negrita{
    font-weight: bold;
    display: inline-flex; 
    margin: 0%;
}
.subrayado{
    text-decoration: underline;
    display: inline-flex;
    margin: 0%;
}
.normal{
    display: inline-flex;
    margin: 0%;
}
/*TABLAS*/
.tabla *{
    background-color: #BDDCD5 ;
    text-align: left;
}
.der{
    text-align: right;
    padding-right: 1em;
}
/*Tabla contorno de la factura*/
.tabla{
    width: 50%;
    background-color: #BDDCD5 ;
    margin-top: 2em;
    padding: 1em;
}
/*Tablada datos de la factura*/
.tabla2{
    width: 100%;
    font-size: 100%;
    border-collapse: collapse;
    margin-top: 1em;   
}
.bordes, tbody,.color, .tabla2{
    border: 1px solid;
    border-color: #004234 ;
}

.tabla2 .color th{
    background-color: #004234 ;
    color:#cce6e0 ;
  }


